<div class="aboutTitle">
    <h1>About me</h1>
</div>
<div class="row">
    <div class="col-xs-3 leftContent text-center items-center">
       <div class="prfilePicDiv">
        <img class="profilePic" src="assets/images/profile_pic.jpg" alt="profile_picture">
       </div>
       <div class="personalDataDiv">
        <ul>
            <li>Name:</li>
            <li>Address:</li>
            <li>Email:</li>
            <li>Phone:</li>
            <li>Place and date of birth:</li>
        </ul>
        <ul>
            <li>Damir Penavić</li>
            <li>Sobra 21, 20225 Mljet</li>
            <li>damir.penavic&#64;gmail.com</li>
            <li>+385 92 393 6766</li>
            <li>1.9.1997. , Mostar</li>
        </ul>
       </div>
       <button class="btn btn-primary" style="width: 150px;">
        Linked<i class="fa-brands fa-linkedin"></i>
       </button>
    </div>

    <div class="col-xs-6 centerContent">
        <h2 style="text-align: center;">Professional CV of Damir Penavić</h2>
    </div>
    <div class="col-xs-3">
    </div>
</div>
