.aboutTitle{
    text-align: center;
    border-bottom: 2px solid black;
}

.profilePic{
    width: auto;
    height: 100%;
}

.profilePicDiv{
    margin-top: 40px;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 90px;

}


.centerContent{
    background-color: rgb(0, 102, 254);
    color: white;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
 }
 
.personalDataDiv{
    display: flex;
    align-content: center;
}

.section {
    margin-bottom: 30px;
}

.skills {
    font-weight: bold;
}

h2{
    font-weight: 600;
}

.right-content{
    padding-top: 2rem;
}

.blackBorder{
    border-bottom: 2px solid black;
}


.acLink{
    text-decoration: none;
    color: white;
    cursor: pointer;
}


.linkColor{
    background-color: rgb(0, 102, 254);
}
