.aboutTitle{
    text-align: center;
    border-bottom: 2px solid black;
}

.profilePic{
    width: auto;
    height: 100%;
}

.prfilePicDiv{
    margin-top: 40px;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;

}


.centerContent{
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 100vh;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
 }
 
.personalDataDiv{
    display: flex;
    align-content: center;
}

