<div style="height: 100vh;">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3>title</h3>
            </div>
            <div class="modal-body">
                This is body
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">button</button>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">+ Add New Workout</button>
</div>