.menu-start{
    margin-left: -250px;
}
 .menu{
    width: 250px;
    background-color: #141414;
    color: white;
    height: 100vh;
    margin-top: 40px;
    transition: 0.5s ease-out;
    padding-top: 50px;
 }