
.selectionDiv{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100%;
}

.center{
   margin: 20px;
}

.flagSelectorDiv{
   height: 20px;
   border-top: 1px solid gray;
   border-bottom: 1px solid gray;
   border-left: 1px solid gray;
   margin: none;
   height: 20px;
   width: auto;
   display: flex;
   justify-content: center;
   align-content: center;
}

.plus {
    height: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: none;
  }
  
select {
    height: 20px;
  }

input{
    height: 20px;
}  

.callNumberDiv{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}  

.callNumberInput{
    border: 1px solid gray;
    border-left: none;
    appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

